/* GLOBAL */
body{
    width: 100%;
}
.container{
    text-align: center;
    
    }
/*NAVBAR*/   
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 1px 20px 5px 5px;
    text-align: right;
    }

.container li {
    display: inline-block; 
  }
  
.container a {
    display: block;
    padding: 9px 5px 10px 10px;
    background-color: white;
    font-size: 12px;
    color: black;
    text-decoration: none;
    }
     
#google_grid{
    height: 17px;
}
#signin{
    background-color:#4285f4;
  border: none;
  color: #fff;
  padding: 7px 11px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 3px;

}
.ggl_logo{
    text-align: center;
    margin-top: 8%;
}
#google_image{
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#search_form {
    display: inline-block;
    width: 50%;
    height: 50px;
    font-size: 16px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 24px;
    
}
#search_form:hover { 
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.button1{
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-family: arial,sans-serif;
    font-size: 14px;

}
.button1:hover { 
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    border: 1px solid #c6c6c6;
}

.button2{
    border-radius: 4px;
    background-color: #f2f2f2;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px;
}
.button2:hover { 
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    border: 1px solid #c6c6c6;
}

.footer{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    line-height: 16px;
    
}

.footer a {
    float: left;
    display: block;
    color: rgba(0,0,0,.54);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: arial,sans-serif;
  }

#right{
    float: right;
    display: block;
    color: rgba(0,0,0,.54);
    padding: 14px 35px 14px 1px;
    text-decoration: none;
    font-size: 14px;
    font-family: arial,sans-serif;

}  

.footer a:hover{
    text-decoration: underline;
    
}

#right:hover{
    text-decoration: underline;
}

/* adding queries to the page, to make it responsive*/
@media screen and (max-width: 420px){
    #google_image{
        max-width: 50%;
    }
    #search_form{
        height: 30px;
    }
    .button1{
        font-size: 12px;
    }
    .button2{
        font-size: 12px;
    }
}
